<configuration>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>[%thread] %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="list" class="bb.lib.testing.apprunner.ProducingLogAppender"/>

    <root level="warn">
        <appender-ref ref="stderr" />
        <appender-ref ref="list" />
    </root>
</configuration>